

<!DOCTYPE html>
<html lang="en">
<head>
				
			<link rel="stylesheet" href="yes.html.css">	<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<meta charset="UTF-8">
				<title>love u bebe</title>
</head>
<body>
				<div class="kilig">
								
								
				<img src="https://c.tenor.com/zqm6WMNOXm0AAAAC/peachcute-peachhappy.gif" alt="">
				<audio src="y2mate.com - Buddy Castle  Youre My Honey Bunch Lyrics.mp3"></audio>
				<img src="https://c.tenor.com/s--312__jnoAAAAC/kermit-kermit-love.gif" alt="">
				<p class="ay">aww, the best gift ever <3</p>
				<audio id="sound" controls autoplay src="y2mate.com - Buddy Castle  Youre My Honey Bunch Lyrics.mp3"></audio>
				<p class="ay">i love you my honeybunch sugar pumpy-umpy-umpkin mwamwa</p>
				<img src="crykilig.jpeg" alt="">
				</div>
	
</body>
</html>

.kilig img{
    width: 200px;
}

.kilig{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:3em;
}